/* FONTS */
@font-face {font-family: openbold; font-style: normal; font-weight: normal; src: url("fonts/OpenSans-Bold.ttf");}
@font-face {font-family: open; font-style: normal; font-weight: normal; src: url("fonts/OpenSans-Regular.ttf");}
@font-face {font-family: openlight; font-style: normal; font-weight: normal; src: url("fonts/OpenSans-Light.ttf");}

/* CORE */
body {margin:0px; padding:0px; background:#efefef; font-family:openlight; font-size:15px; overflow-x:hidden;}
#wrapper {width:960px; margin:0 auto;}
li {list-style:none;}

ol {margin:0px; padding:0px 0px 0px 25px;}
ol li {list-style:decimal; margin:10px 0px;}

article, #content {min-height:400px; padding:0px 0px 40px 0px; display:table; width:960px;}
fieldset {border:1px dotted #6699ff; margin:0px 0px 20px 0px;}
legend {display:none;}

.instructions {font-size: 12px;color: #ccc;font-style: italic;margin: 0px 10px;}

/* LINKS */
a {color:#6699ff; text-decoration:none;}
a:hover {opacity:0.7;}

/* HEADING */
h2 {color:#6699ff; font-size:30px;}
h3 {border-bottom:1px solid #f8941d; color:#f8941d; font-size:15px; padding:10px 0px; margin:10px 20px 10px 0px;}
.top h3 {border-bottom:0px;}

/* FORMS */
input, select {border: 1px solid #6699ff;padding: 10px;border-radius: 5px;color: #888;width: 250px; margin:10px;}
select {height: 30px;}
.tgl_lahir select {width:75px;}
.submit {background:#6699ff; color:#fff; font-size:15px;}
label {color:#6699ff; margin:10px; display:block;}
.checkbox input {width:10px;}
label.radio {float: left;width: 153px;height: 10px;}

/* HEADER SECTION */
header{background:url(img/bg-header.png) center top no-repeat; height:142px; overflow:hidden; margin:0 auto; padding:0px; width:960px;}
.logo {margin:10px 30px; width:195px; height:90px; float:left;}
.sign {float:right; margin:10px 15px 15px 15px; padding:10px;}
.sign a {font-family:openlight; text-transform:capitalize; font-size:14px;}
.social {float:right; margin:15px 30px 15px 0px;}
.searchblue {background:#003399;padding:10px 10px 15px 10px; color:#fff; font-size:16px; margin:0px 0px 20px 0px;}

/* MENU */
.menu {position:absolute; margin:50px 0px 0px 245px;}
.menu a {font-family:open; text-transform:capitalize; font-size:14px; color:#003399; margin:0px 15px 0px 0px;padding: 10px 20px 20px;}
.menu .current, .menu a:hover {border-bottom: 3px solid #ff9999; color:#ff9999; padding: 0px 20px 20px;}
.menu li {float:left; list-style:none;}

/* SLIDER */
.yellowline {background: url(img/slider-bg-yellow.png);padding: 10px 10px 10px 210px;position: absolute;z-index: 99;width: 100%;top: 360px; color:#fff;}
.yellowline .number {background: url(img/slider-bg-yellow.png);font-weight: bold;font-size: 46px; padding:10px; float:left;margin:-10px 20px -10px -10px;}
.yellowline .name {font-weight: bold;font-size: 18px;}
.yellowline div a img {float: left;}
.sliderdivider {height:442px;}

/* MAIN SECTION */
.mainside {width:690px; float:left;}
.rightside {width:257px; margin:0px 0px 0px 700px; height:200px;}
.pilih a {margin: 0px 50px;}

.top {overflow:hidden;background:url(img/bg-top.png) left top no-repeat; width: 217px;height: 545px;float: left;margin: 0px 0px 10px; padding: 0px 10px 10px 115px;}
.topwhite {background:#fff url(img/bg-top.png) left top no-repeat;}
.top li {font-weight:bold; font-family:tahoma;}
.top li a {font-size:12px; font-weight:lighter; margin:10px 10px 10px 0px;}

.signmain {border: 0px;width: 400px;height: 325px; float:left;}

/* RIGHT SECTION */
.head {background:#f8941d; color:#fff;padding:10px; border-radius:10px 10px 0px 0px; text-align:center;border-bottom:2px solid #fff;}

.rightcontainer {background:#6699ff; color:#fff; padding:10px 20px;display: table;width: 217px;overflow: hidden;border-radius: 0px 0px 10px 10px;}
.rightcontainer a {color:#003399; font-size:10px; margin:0px 20px 0px 0px;}


/* FOOTER */
footer {background:#636363; color:#fff;}
.footercontent {width:960px; margin:0 auto; text-align:center; padding:30px 0px 40px;}
.menufooter a {color:#fff;font-family:open; text-transform:capitalize; font-size:13px; margin:10px 30px;}
.copyright {font-family:verdana; font-size:9px; margin:20px 0px 0px;}

/* USER SECTION */

/* DASHBOARD */
#dashboard {display:table;}
#dashboard .left, #dashboard .right {width:450px; float:left; height:400px; padding:0px 10px;}

/* PROFILE */
.profilelogo {width:100px; height:100px; overflow:hidden; background:#333; margin:0px 30px 20px 0px; float:left;}
.profilelogo img {width:100px;}

.profilename h2 {margin:0px;}
.profilename .tagline {font-style:italic; font-size:19px; color:#888;}
.profilebanner {width:640px; height:360px; overflow:hidden; float:left;}
.bannerimg {height:360px;}

.profilebannerbutton {width:641px; height:50px; overflow:hidden; float:left; text-align:left;}
.profilebannerbutton img {margin:0px;}

.profilebanner2 {background:#e1e1e1; padding:100px 20px 20px; width:280px; height:240px; margin:0px 0px 0px 660px; border-radius:10px;}
.profilebanner2 h2 {font-size:17px;}

.gmap {width:265px; float:left;}
.detail {width:395px; margin: 0px 0px 0px 300px; font-size:17px; color:#898989;}
.topmenu {width:300px; float:right;}
.topmenu {width:300px;}

.det {min-height:30px; padding: 0px 0px 0px 40px; margin:10px 0px;}
.address {background:url(img/bg-profile-home.png) left top no-repeat;}
.telp {background:url(img/bg-profile-telp.png) left top no-repeat;}
.fb {background:url(img/bg-profile-fb.png) left top no-repeat;}
.twit {background:url(img/bg-profile-twit.png) left top no-repeat;}
.bb {background:url(img/bg-profile-bb.png) left top no-repeat;}
.email {background:url(img/bg-profile-email.png) left top no-repeat;}
.price {background:url(img/bg-profile-money.png) left top no-repeat;}

#map {background:#fff url(img/bg-profile2.png) left top no-repeat; padding:20px 0px; margin:10px 0px 0px; height:400px; width:640px;}

/* LOGIN */
.loginform {padding:0px; margin:0px;}

/* HOME */
.recomended {color:#333;font-size: 12px;}
.recomended div {float: left;width: 255px;height: 100px; overflow:hidden;}
.recomended .img {width:100px; height:100px; overflow:hidden; float:left; margin:0px 10px 10px 0px;}
.recomended img {width:100px;}
.recomended a {font-size:13px;}

.signhome {overflow:hidden; width:213px; height:200px; border:0px;}





