<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]> <html class="no-js" lang="en"> 		   <![endif]-->

<head>
	<meta charset="utf-8">

  	<!-- You can use .htaccess and remove these lines to avoid edge case issues. -->
  	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  	<title>{{ settings:site_name }} &raquo; {{ template:title }}</title>

  	<meta name="author" content="Yuwan Ariestiyan - Dixgital">
	<meta name="description" content="">
	<meta name="keywords" content="">

  	<!-- Mobile viewport optimized -->
  	<meta name="viewport" content="width=device-width,initial-scale=1">
	
	<!-- Set a base location for assets -->
	<base href="{{ url:base }}"/>
	<!-- End base -->

  	<!-- CSS. No need to specify the media attribute unless specifically targeting a media type, leaving blank implies media=all -->
  	{{ theme:css file="plugins.css" }}
	{{ theme:css file="default.css" }}
  	<!-- End CSS-->

	<!-- Load up some favicons -->
  	{{ theme:favicon }}

  	<!-- All JavaScript at the bottom, except for Modernizr. -->
  	{{ theme:js file="libs/modernizr.js" }}
  	{{ theme:js file="libs/jquery.js" }}

	
	{{ template:metadata }}
	
	<!-- Google Analytics -->
	{{ integration:analytics }}
	
</head>

<body class="{{ url:segments segment="1" default="home" }}" onload="prettyPrint()">
<header>
		<div class="logo"><a href="{{ url:base }}"><img src="{{ theme:path }}/css/img/logo.png" /></a></div>
		<div class="social">
			<a><img src="{{ theme:path }}/css/img/icon-fb.png" /></a>
			<a><img src="{{ theme:path }}/css/img/icon-twitter.png" /></a>
			<a><img src="{{ theme:path }}/css/img/icon-ig.png" /></a>
		</div>
		<div class="sign">
		{{ if user:logged_in }}
			<a href="{{ url:site }}dashboard">Dashboard |</a>
			<a href="{{ url:site }}user/{{ user:username }}">My Profile |</a>
			<a href="{{ url:site }}edit-profile">Edit Profile |</a>
			<a href="{{ url:site }}users/logout">Logout</a>
		{{ else }}
			<a href="{{ url:site }}sign-in-personal">sign in |</a>
			<a href="{{ url:site }}sign-in-personal">sign up</a>
		{{ endif }}
		</div>
		{{ if user:logged_in }}
		{{ else }}
		<div style="margin:65px 0px 0px 695px; position:absolute;">
		Business Owner? &nbsp;
			<a href="{{ url:site }}sign-in-business">sign in |</a>
			<a href="{{ url:site }}sign-in-business">sign up</a>
		</div>
		{{ endif }}
		<div class="menu">
			<ul>
				{{ navigation:links group="header" }}
			</ul>
		</div>
	</header>

	