{{ if { user:logged_in } and { url:segments segment="1" } == '' }}

<script type="text/javascript">
<!--
window.location = "dashboard"
//-->
</script>

{{ else }}
<div class="mainside">
	<div class="top topwhite">
		<h3>TOP 10 Bakso<br>Bandung</h3>
		{{ pages:display slug="top-10-bakso" }}
			{{ custom_fields }}
        		<div>
        			<ol>
        			<li>
        				{{ business_name_one }}<br>
        				<a href="{{ business_url_one }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_two }}<br>
        				<a href="{{ business_url_two }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_three }}<br>
        				<a href="{{ business_url_three }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_four }}<br>
        				<a href="{{ business_url_four }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_five }}<br>
        				<a href="{{ business_url_five }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_six }}<br>
        				<a href="{{ business_url_six }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_seven }}<br>
        				<a href="{{ business_url_seven }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_eight }}<br>
        				<a href="{{ business_url_eight }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_nine }}<br>
        				<a href="{{ business_url_nine }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_ten }}<br>
        				<a href="{{ business_url_ten }}">Detail</a><a href="">Story</a>
        			</li>
        			
        		</div>
    		{{ /custom_fields }}
		{{ /pages:display }}
	</div>
	<div class="top topwhite">
		<h3>TOP 10 Batagor/Siomay<br>Bandung</h3>
		{{ pages:display slug="top-10-batagor-siomay" }}
			{{ custom_fields }}
        		<div>
        			<ol>
        			<li>
        				{{ business_name_one }}<br>
        				<a href="{{ business_url_one }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_two }}<br>
        				<a href="{{ business_url_two }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_three }}<br>
        				<a href="{{ business_url_three }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_four }}<br>
        				<a href="{{ business_url_four }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_five }}<br>
        				<a href="{{ business_url_five }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_six }}<br>
        				<a href="{{ business_url_six }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_seven }}<br>
        				<a href="{{ business_url_seven }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_eight }}<br>
        				<a href="{{ business_url_eight }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_nine }}<br>
        				<a href="{{ business_url_nine }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_ten }}<br>
        				<a href="{{ business_url_ten }}">Detail</a><a href="">Story</a>
        			</li>
        			
        		</div>
    		{{ /custom_fields }}
		{{ /pages:display }}
	</div>
	<div class="top">
		<h3>TOP 10 Nasi Goreng<br>Bandung</h3>
		{{ pages:display slug="top-10-nasi-goreng" }}
			{{ custom_fields }}
        		<div>
        			<ol>
        			<li>
        				{{ business_name_one }}<br>
        				<a href="{{ business_url_one }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_two }}<br>
        				<a href="{{ business_url_two }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_three }}<br>
        				<a href="{{ business_url_three }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_four }}<br>
        				<a href="{{ business_url_four }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_five }}<br>
        				<a href="{{ business_url_five }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_six }}<br>
        				<a href="{{ business_url_six }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_seven }}<br>
        				<a href="{{ business_url_seven }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_eight }}<br>
        				<a href="{{ business_url_eight }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_nine }}<br>
        				<a href="{{ business_url_nine }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_ten }}<br>
        				<a href="{{ business_url_ten }}">Detail</a><a href="">Story</a>
        			</li>
        			
        		</div>
    		{{ /custom_fields }}
		{{ /pages:display }}
	</div>
	<div class="top">
		<h3>TOP 10 Bebek<br>Bandung</h3>
		{{ pages:display slug="top-10-bebek" }}
			{{ custom_fields }}
        		<div>
        			<ol>
        			<li>
        				{{ business_name_one }}<br>
        				<a href="{{ business_url_one }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_two }}<br>
        				<a href="{{ business_url_two }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_three }}<br>
        				<a href="{{ business_url_three }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_four }}<br>
        				<a href="{{ business_url_four }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_five }}<br>
        				<a href="{{ business_url_five }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_six }}<br>
        				<a href="{{ business_url_six }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_seven }}<br>
        				<a href="{{ business_url_seven }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_eight }}<br>
        				<a href="{{ business_url_eight }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_nine }}<br>
        				<a href="{{ business_url_nine }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_ten }}<br>
        				<a href="{{ business_url_ten }}">Detail</a><a href="">Story</a>
        			</li>
        			
        		</div>
    		{{ /custom_fields }}
		{{ /pages:display }}
	</div>
	<div class="top topwhite">
		<h3>TOP 10 Steak<br>Bandung</h3>
		{{ pages:display slug="top-10-steak" }}
			{{ custom_fields }}
        		<div>
        			<ol>
        			<li>
        				{{ business_name_one }}<br>
        				<a href="{{ business_url_one }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_two }}<br>
        				<a href="{{ business_url_two }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_three }}<br>
        				<a href="{{ business_url_three }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_four }}<br>
        				<a href="{{ business_url_four }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_five }}<br>
        				<a href="{{ business_url_five }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_six }}<br>
        				<a href="{{ business_url_six }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_seven }}<br>
        				<a href="{{ business_url_seven }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_eight }}<br>
        				<a href="{{ business_url_eight }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_nine }}<br>
        				<a href="{{ business_url_nine }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_ten }}<br>
        				<a href="{{ business_url_ten }}">Detail</a><a href="">Story</a>
        			</li>
        			
        		</div>
    		{{ /custom_fields }}
		{{ /pages:display }}
	</div>
	<div class="top topwhite">
		<h3>TOP 10 Ramen<br>Bandung</h3>
		{{ pages:display slug="top-10-ramen" }}
			{{ custom_fields }}
        		<div>
        			<ol>
        			<li>
        				{{ business_name_one }}<br>
        				<a href="{{ business_url_one }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_two }}<br>
        				<a href="{{ business_url_two }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_three }}<br>
        				<a href="{{ business_url_three }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_four }}<br>
        				<a href="{{ business_url_four }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_five }}<br>
        				<a href="{{ business_url_five }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_six }}<br>
        				<a href="{{ business_url_six }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_seven }}<br>
        				<a href="{{ business_url_seven }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_eight }}<br>
        				<a href="{{ business_url_eight }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_nine }}<br>
        				<a href="{{ business_url_nine }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_ten }}<br>
        				<a href="{{ business_url_ten }}">Detail</a><a href="">Story</a>
        			</li>
        			
        		</div>
    		{{ /custom_fields }}
		{{ /pages:display }}
	</div>
	<div class="top">
		<h3>TOP 10 Pecel Lele<br>Bandung</h3>
		{{ pages:display slug="top-10-pecel-lele" }}
			{{ custom_fields }}
        		<div>
        			<ol>
        			<li>
        				{{ business_name_one }}<br>
        				<a href="{{ business_url_one }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_two }}<br>
        				<a href="{{ business_url_two }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_three }}<br>
        				<a href="{{ business_url_three }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_four }}<br>
        				<a href="{{ business_url_four }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_five }}<br>
        				<a href="{{ business_url_five }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_six }}<br>
        				<a href="{{ business_url_six }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_seven }}<br>
        				<a href="{{ business_url_seven }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_eight }}<br>
        				<a href="{{ business_url_eight }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_nine }}<br>
        				<a href="{{ business_url_nine }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_ten }}<br>
        				<a href="{{ business_url_ten }}">Detail</a><a href="">Story</a>
        			</li>
        			
        		</div>
    		{{ /custom_fields }}
		{{ /pages:display }}
	</div>
	<div class="top">
		<h3>TOP 10 Iga<br>Bandung</h3>
		{{ pages:display slug="top-10-iga" }}
			{{ custom_fields }}
        		<div>
        			<ol>
        			<li>
        				{{ business_name_one }}<br>
        				<a href="{{ business_url_one }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_two }}<br>
        				<a href="{{ business_url_two }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_three }}<br>
        				<a href="{{ business_url_three }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_four }}<br>
        				<a href="{{ business_url_four }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_five }}<br>
        				<a href="{{ business_url_five }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_six }}<br>
        				<a href="{{ business_url_six }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_seven }}<br>
        				<a href="{{ business_url_seven }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_eight }}<br>
        				<a href="{{ business_url_eight }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_nine }}<br>
        				<a href="{{ business_url_nine }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_ten }}<br>
        				<a href="{{ business_url_ten }}">Detail</a><a href="">Story</a>
        			</li>
        			
        		</div>
    		{{ /custom_fields }}
		{{ /pages:display }}
	</div>
	<div class="top topwhite">
		<h3>TOP 10 Bakmi<br>Bandung</h3>
		{{ pages:display slug="top-10-bakmi" }}
			{{ custom_fields }}
        		<div>
        			<ol>
        			<li>
        				{{ business_name_one }}<br>
        				<a href="{{ business_url_one }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_two }}<br>
        				<a href="{{ business_url_two }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_three }}<br>
        				<a href="{{ business_url_three }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_four }}<br>
        				<a href="{{ business_url_four }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_five }}<br>
        				<a href="{{ business_url_five }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_six }}<br>
        				<a href="{{ business_url_six }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_seven }}<br>
        				<a href="{{ business_url_seven }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_eight }}<br>
        				<a href="{{ business_url_eight }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_nine }}<br>
        				<a href="{{ business_url_nine }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_ten }}<br>
        				<a href="{{ business_url_ten }}">Detail</a><a href="">Story</a>
        			</li>
        			
        		</div>
    		{{ /custom_fields }}
		{{ /pages:display }}
	</div>
	<div class="top topwhite">
		<h3>TOP 10 Lotek<br>Bandung</h3>
		{{ pages:display slug="top-10-lotek" }}
			{{ custom_fields }}
        		<div>
        			<ol>
        			<li>
        				{{ business_name_one }}<br>
        				<a href="{{ business_url_one }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_two }}<br>
        				<a href="{{ business_url_two }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_three }}<br>
        				<a href="{{ business_url_three }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_four }}<br>
        				<a href="{{ business_url_four }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_five }}<br>
        				<a href="{{ business_url_five }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_six }}<br>
        				<a href="{{ business_url_six }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_seven }}<br>
        				<a href="{{ business_url_seven }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_eight }}<br>
        				<a href="{{ business_url_eight }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_nine }}<br>
        				<a href="{{ business_url_nine }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_ten }}<br>
        				<a href="{{ business_url_ten }}">Detail</a><a href="">Story</a>
        			</li>
        			
        		</div>
    		{{ /custom_fields }}
		{{ /pages:display }}
	</div>
	
	
</div>

<div class="rightside">
	<div class="head">TOP 10 BANDUNG</div>
	<div class="rightcontainer">
		{{ pages:display slug="top-10-bandung" }}
			{{ custom_fields }}
        		<div>
        			<ol>
        			<li>
        				{{ business_name_one }}<br>
        				<a href="{{ business_url_one }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_two }}<br>
        				<a href="{{ business_url_two }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_three }}<br>
        				<a href="{{ business_url_three }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_four }}<br>
        				<a href="{{ business_url_four }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_five }}<br>
        				<a href="{{ business_url_five }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_six }}<br>
        				<a href="{{ business_url_six }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_seven }}<br>
        				<a href="{{ business_url_seven }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_eight }}<br>
        				<a href="{{ business_url_eight }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_nine }}<br>
        				<a href="{{ business_url_nine }}">Detail</a><a href="">Story</a>
        			</li>
        			<li>
        				{{ business_name_ten }}<br>
        				<a href="{{ business_url_ten }}">Detail</a><a href="">Story</a>
        			</li>
        			
        		</div>
    		{{ /custom_fields }}
		{{ /pages:display }}
	</div>
	
	<br><br>
	
	<div class="head">RECOMENDED</div>
	<div class="rightcontainer" style="background:transparent; padding:0px;">
		<div class="recomended">
		<br>
		{{ blog:posts category="recomended" limit="3" }}
			<div>
				<div class="img"><img src="{{ image:image }}" /></div>
				{{ intro }}
				<br>
				<a href="{{ url }}"> Read More</a>
			</div>
		{{ /blog:posts }}
		</div>
	</div>
	
	<br><br>
	
	{{ if { user:logged_in} and { user:group_id } == '3' }}
	{{ else }}
	<div class="head">BUSINESS OWNERS?</div>
	<div class="rightcontainer">
	<center>
		<a href=""><img src="{{ theme:path }}/css/img/button-create.png" style="margin: 0px -10px;" /></a>
		{{ if user:logged_in }}
		{{ else }}
		<h3 style="color:#fff;border-bottom:0px;">ALREADY A MEMBER ?</h3>
		<iframe src="{{ url:site }}/signin-home" scrolling="no" class="signhome" target="_top" /></iframe>
		{{ endif }}
	</center>
	</div>
	{{ endif }}
	
	<br><br>
	
	<div class="head">LATEST STORIES</div>
	<div class="rightcontainer" style="background:transparent; padding:0px;">
		<div class="recomended">
		<br>
		{{ blog:posts category="latest-stories" limit="3" }}
			<div>
				<div class="img"><img src="{{ image:image }}" /></div>
				{{ intro }}
				<br>
				<a href="{{ url }}"> Read More</a>
			</div>
		{{ /blog:posts }}
		</div>
	</div>
	
</div>
{{ endif }}