{{ if { user:logged_in } and { user:group_id } == '3' }}
{{ user:profile }}
	<div id="main" style="height:120px;">
		<div class="profilelogo"></div>
		<div class="profilename">
			<h2>{{ display_name }}</h2>
			<font class="tagline">{{ tagline }}</font>
		</div>
	</div>
	
	<div id="main">
		<div class="profilebanner">
			<img src="{{ theme:path }}/css/img/profilebanner.png" />
		</div>
		<div class="profilebannerbutton">
			<a href=""><img src="{{ theme:path }}/css/img/button-profile-musttry.png" /></a>
			<a href=""><img src="{{ theme:path }}/css/img/button-profile-delivery.png" style="margin:0px 0px 0px -4px" /></a>
		</div>
		<div class="profilebanner2">
			<center>
				<h2>TAMPILKAN<br>PROMO ANDA<br>DISINI</h2>
				<a href=""><img src="{{ theme:path }}/css/img/button-promo-tampil.png" /></a>
			</center>
		</div>
	</div>
	
	<div style="background:#fff; display:table; padding:10px;">
	<div class="profilebanner">
		<div class="gmap">
			<a href=""><img src="{{ theme:path }}/css/img/gmap.png" /></a>
		</div>
		<div class="detail">
		{{ display_name }}
		<br><br>
		<div class="det address">{{ display_name }}</div>
		<div class="det telp">{{ display_name }}</div>
		<div class="det fb">{{ display_name }}</div>
		<div class="det twit">{{ display_name }}</div>
		<div class="det bb">{{ display_name }}</div>
		<div class="det email">{{ display_name }}</div>
		<div class="det price">{{ display_name }}</div>
		</div>
	</div>
	<div class="topmenu">
		<img src="{{ theme:path }}/css/img/topmenu.png" />
		<img src="{{ theme:path }}/css/img/img-topmenu.png" />
	</div>
	<div class="topmenu">
	<h2 style="font-size:17px;">Bebek Debus + Nasi</h2>
	Lorem ipsum dolor sit maet Lorem ipsum dolor sit maet Lorem ipsum dolor sit maet Lorem ipsum dolor sit maet Lorem ipsum dolor sit maet
	<h2 style="font-size:17px;">Rp 25.000</h2>
	</div>
	</div>	
	
</div>
{{ /user:profile }}

<div id="wrapper">
	<div id="main">
		<img src="{{ theme:path }}/css/img/img-mainsec3.png" />
		<br><br><br><br>
		<img src="{{ theme:path }}/css/img/img-mainsec4.png" />
		<br><br><br><br>
		<img src="{{ theme:path }}/css/img/img-mainsec5.png" />
		<br><br><br><br>
	</div>
</div>

{{ elseif { user:logged_in } and { user:group_id } == '2' }}
personal
{{ else }}
<script type="text/javascript">
<!--
window.location = "{{ url:site }}users/login"
//-->
</script>
{{ endif }}